<h1>Employee Profile</h1>
<h2><%= "#{@employee.first_name} #{@employee.last_name}" %></h2>
<h2><%= "Known as: #{@employee.alias}" %></h2>
<h2><%= @employee.title %></h2>
<h2><%= @employee.office %></h2>
<%= image_tag @employee.img_url %>
<%= link_to "Home", employees_path %>