<h1> <%= @dog.name %>'s page :) </h1>
<h3> Breed: <%= @dog.breed %> </h3>
<h3> Age: <%= @dog.age %> </h3>
<br>
<h3> <%= @dog.name %>'s owners </h3> 
<% @dog.employees.each do |employee| %>
<li> <%= link_to "#{employee.first_name} #{employee.last_name}" , employee_path(employee) %> </li>
<% end %>